/* 🎨 Background Colors */
.bg-tomato {
  background-color: tomato;
}
.bg-orange {
  background-color: orange;
}
.bg-salmon {
  background-color: rgb(247, 155, 155);
}
.bg-sandybrown {
  background-color: sandybrown;
}
.bg-brown {
  background-color: brown;
}
.bg-seagreen {
  background-color: seagreen;
}
.bg-aqua {
  background-color: aqua;
}
.bg-firebrick {
  background-color: firebrick;
}
.bg-darkolivegreen {
  background-color: darkolivegreen;
}
.bg-slateblue {
  background-color: slateblue;
}
.bg-crimson {
  background-color: crimson;
}
.bg-d-red {
  background-color: rgb(128, 25, 25);
  color: white;
}
.bg-red {
  background-color: rgb(202, 54, 54);
  color: white;
}
.bg---red {
  background-color: rgb(252, 61, 61);
}
.bg-d-blue {
  background-color: rgb(47, 69, 134);
  color: white;
}
.bg-blue {
  background-color: rgb(86, 120, 223);
  color: white;
}
.bg---blue {
  background-color: rgb(142, 165, 233);
}
.bg-d-green {
  background-color: #195719;
  color: white;
}
.bg-green {
  background-color: #359135;
}
.bg---green {
  background-color: #83cc83;
}
.bg-black {
  background-color: rgb(45, 45, 48);
  color: white;
}
.bg---grey {
  background-color: #e7e7e7;
}
.bg-grey {
  background-color: rgb(109, 112, 119);
}

/* Background Color With adjusted Opacity */
.bg-tomato-a {
  background-color: rgba(255, 99, 71, 0.5);
}
.bg-orange-a {
  background-color: rgba(255, 166, 0, 0.5);
}
.bg-salmon-a {
  background-color: rgba(247, 155, 155, 0.5);
}
.bg-sandybrown-a {
  background-color: rgba(244, 165, 96, 0.5);
}
.bg-brown-a {
  background-color: rgba(165, 42, 42, 0.5);
}
.bg-seagreen-a {
  background-color: rgba(46, 139, 86, 0.5);
}
.bg-aqua-a {
  background-color: rgba(0, 255, 255, 0.5);
}
.bg-firebrick-a {
  background-color: rgba(178, 34, 34, 0.5);
}
.bg-darkolivegreen-a {
  background-color: rgba(85, 107, 47, 0.5);
}
.bg-slateblue-a {
  background-color: rgba(105, 90, 205, 0.5);
}
.bg-crimson-a {
  background-color: rgba(220, 20, 60, 0.5);
}
.bg-d-red-a {
  background-color: rgba(128, 25, 25, 0.5);
  color: white;
}
.bg-red-a {
  background-color: rgba(202, 54, 54, 0.5);
  color: white;
}
.bg---red-a {
  background-color: rgba(252, 61, 61, 0.5);
}
.bg-d-blue-a {
  background-color: rgba(47, 69, 134, 0.5);
  color: white;
}
.bg-blue-a {
  background-color: rgba(86, 120, 223, 0.5);
  color: white;
}
.bg---blue-a {
  background-color: rgba(142, 165, 233, 0.5);
}
.bg-d-green-a {
  background-color: rgba(25, 87, 25, 0.5);
  color: white;
}
.bg-green-a {
  background-color: rgba(53, 145, 53, 0.5);
}
.bg---green-a {
  background-color: rgba(131, 204, 131, 0.5);
}
.bg-black-a {
  background-color: rgba(45, 45, 48, 0.5);
  color: white;
}
.bg---grey-a {
  background-color: rgba(231, 231, 231, 0.5);
}
.bg-grey-a {
  background-color: rgba(109, 112, 119, 0.5);
}

/* Text Color */
.txt-black {
  color: black;
}
.txt---grey {
  color: var(--standardGrey);
}
.txt-grey {
  color: rgb(109, 112, 119);
}
.txt-white {
  color: white;
}
.txt-orange {
  color: orange;
}
.txt-tomato {
  color: tomato;
}
.txt-salmon {
  color: rgb(247, 155, 155);
}
.txt-sandybrown {
  color: sandybrown;
}
.txt-brown {
  color: brown;
}
.txt-seagreen {
  color: seagreen;
}
.txt-aqua {
  color: aqua;
}
.txt-firebrick {
  color: firebrick;
}
.txt-darkolivegreen {
  color: darkolivegreen;
}
.txt-slateblue {
  color: slateblue;
}
.txt-crimson {
  color: crimson;
}
.txt-d-red {
  color: rgb(128, 25, 25);
}
.txt-red {
  color: rgb(202, 54, 54);
}
.txt---red {
  color: rgb(252, 61, 61);
}
.txt-d-blue {
  color: rgb(47, 69, 134);
}
.txt-blue {
  color: rgb(86, 120, 223);
}
.txt---blue {
  color: rgb(142, 165, 233);
}
.txt-d-green {
  color: #195719;
}
.txt-green {
  color: #359135;
}
.txt---green {
  color: #83cc83;
}
